
/* *{
    border: solid 2px red;
}
   VER TAMAÑO REAL DE CADA CAJA */

@font-face {
    font-family: 'Glacial Indifference', sans-serif;                                       
    src: url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
}

@font-face {
    font-family: 'Playlist', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/playlist');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Light', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/open-sans');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    width: 100vw;
    min-height: 100vh;
    background-image:url(../medios/FONDO_COMPUTADORA.png) ;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
} 

p{
    font-family: 'Glacial Indifference', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1rem;                        
}

h1{
    font-family: 'Playlist', sans-serif;
    font-size: 10rem;
}

/*  ! COMIENZO DEL HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    height: 100px;
    width: auto;
    margin-left: 100px;
    margin-top: 10px;
}

#🧭{
    display: flex;
    justify-content: space-between;
}

.👻{
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 100px;
    font-family: 'Glacial Indifference', sans-serif;
    margin-top: 24px;
}

.👻 li{
    margin-right: 75px;
}

.👻 li:last-child{
    margin-right: 0;
}


.home_h{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
}

.productos_h{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
}

.nosotros_h{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
}

.galeria_h{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
}

.contacto_h{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
}
/*  ! FIN DEL HEADER */

/*  ! COMIENZO DEL MAIN */
main{
    margin-left: 100px;
    margin-right: 100px;
}

button{
    display: grid;
    position: relative;
    font-family: 'Glacial Indifference', sans-serif;
    width: 150px;
    margin: 15px;
   border-radius: 20px;
   background-color: black;
   letter-spacing: 2px;
   align-content: center;
   justify-content: center;
}

/* ? INICIO SECTION - PRODUCTOS */

section.productos{
    display: grid;
    grid-template-areas: 
    "h1-prod foto-prod"
    "p-prod  foto-prod"
    "boton-prod foto-prod" ;
    grid-template-columns: 55% auto;
    grid-template-rows: 55% 8% 9%;
    column-gap: 10px;
    padding-top: 80px;
    width: 100%;
    height: 100%;
    
}

.productos-h1{
    display: grid;
    grid-area: h1-prod;
    align-items: end;
}

div.productos-imagen{
    display: grid;
    grid-area: foto-prod;
    width: 100%;
    height: 100%;
    justify-items: end;
}

.lemonpai-imagen{
    height: 650px;
    width: auto;
}

.productos-p{
    display: grid;
    grid-area: p-prod;
}

div.productos-boton{
    width: 60%;
    display: grid;
    justify-content: center;
}

.productos-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* ? FIN DE SECTION - PRODUCTOS */

/* ? INICIO SECTION - NOSOTROS */

section.nosotros{
    display: grid;
    grid-template-areas: 
    "img-nos h1-nos"
    "img-nos p-nos"
    "img-nos btn-nos";
    grid-template-rows: 55% 13% 8%;
    padding-top: 440px;
}

.nosotros-h1{
    display: grid;
    align-items: end;
    justify-items: center;
    grid-area: h1-nos;
}

div.nosotros-imagen{
   display: grid;
   justify-content: center;
    width: 88%;
    height: 100%;
    grid-area: img-nos;
}

.ana-imagen{
    width: auto;
    height: 750px;
}

.nosotros-p{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: p-nos;
}

div.nosotros-boton{
    width: 100%;
    display: grid;
}

.nosotros-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    grid-area: btn-nos;
}

/* ? FIN DE SECTION - NOSTROS */

/* ? INICIO SECTION - GALERIA  */

section.galeria{
    display: grid;
    justify-content: space-around;
    grid-template-areas: 
    "h1-gale  img-gale"
    "btn-gale img-gale";
    grid-template-rows: 45% 11%;
    column-gap: 490px;
    padding-top: 440px;
    width: 100%;
    height: 100%;
}

.galeria-h1{
    display: grid;
    align-items: end;
    grid-area: h1-gale;
}

div.galeria--presentacion{
    grid-area: img-gale;
    display: flex;
    column-gap: 5px;
    width: 800px;
    height: 560px;
    filter: saturate(100%);
}

div.galeria-boton{
    display: grid;
    justify-items: center;
    grid-area: btn-gale;
    width: 100%;
    height: 100%;

}

.galeria-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

div img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5 ease;
}

/* ? FIN DE SECTION - GALERIA */

/* ? INICIO SECTION - CONTACTANOS */

section.contactanos{
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactanos-btn{
    color: white;
    text-decoration: none;
}

section.contactanos::before{
    content: "";
    background-image: url(../medios/fotos_index/contactanos.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 800px;
    filter: saturate(180%);
    opacity: 0.4;
} 

.contactanos-h1{
    position: relative;
    line-height: 0.9;
}

.contactanos-p{
    position: relative;
}

div.contactanos-boton{
    width: 100%;
    display: grid;
    grid-template-rows: 110%;
    justify-items: center;
}

.contactanos-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
}

/* ? FIN DE SECTION - CONTACTANOS */



/*  ! FIN DEL MAIN */

/* ! COMIENZO DEL FOOTER */

footer{
    display: grid;
    grid-template-areas: 
    "seguri social mpagos  menvio"
    "copyri copyri copyri copyri ";
    grid-template-columns: 40% repeat(3, 20%);
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 130px;
}



section.---seguridad{
    display: grid;
    grid-area: seguri;
    justify-items: center;
    grid-template-areas: 
    "priv"
    "cond"
    "cook"
    "reem";
    width: 100%;
}

div.--privacidad{
    display: grid;
    align-items: center;
    grid-template-areas: 
    "icono-priv p-priv";
    width: 50%;
    grid-area: priv;

}

.p-politicas{
    display: grid;
    grid-area: p-priv;
    text-decoration: none;
    color: black;
}

.icono-privacidad{
    display: grid;
    grid-area: icono-priv;
    height: 50px;
    width: auto;
}


div.--condiciones{
    display: grid;
    align-items: center;
    grid-template-areas: 
    "icono-condiciones p-condiciones";
    width: 50%;
    grid-area: cond;
}

.p-terminos{
    display: grid;
    grid-area: p-condiciones;
    text-decoration: none;
    color: black;
}

.icono-condiciones{
    display: grid;
    grid-area: icono-condiciones;
    height: 50px;
    width: auto;
}


div.--cookies{
    display: grid;
    align-items: center;
    grid-template-areas: 
    "icono-cookie p-cookie";
    width: 50%;
    grid-area: cook;
}

.p-cookiess{
    display: grid;
    grid-area: p-cookie;
    text-decoration: none;
    color: black;
   
}

.icono-cookies{
    display: grid;
    grid-area: icono-cookie;
    height: 50px;
    width: auto;
}


div.--devoluciones{
    display: grid;
    align-items: center;
    grid-template-areas: 
    "icono-devoluciones p-devoluciones";
    grid-template-columns: 33% 60%;
    width: 100%;
    grid-area: reem;
}

.p-devoluciones{
    display: grid;
    justify-items: center;
    grid-area: p-devoluciones;
    text-decoration: none;
    color: black;
}

div.-div_icono_devoluciones{
    display: grid;
    justify-items: end;
}

.icono-devoluciones{
    display: grid;
    grid-area: icono-devoluciones;
    height: 50px;
    width: auto;
}



section.---redes_sociales{
    display: grid;
    grid-template-rows: 0% 15% 25%;
    grid-area: social;
    justify-items: center;
    width: 100%;
    height: auto;
}

.-iconos_social{
    width: 200px;
    height: 50px;
}



section.---medios_pagos{
    display: grid;
    grid-area: mpagos;
    justify-items: center;
    width: 100%;
}

div.--medios_pagos{
    display: grid;
    grid-template-rows: 12% 25%;
}

div.-div_icono_pagos{
    display: grid;
    justify-items: center;
}


.icono-pago{
    height: 50px;
    width: auto;
}

.-icono_pago{
    display: grid;
    width: 100px;
    height: auto;
}



section.---medios_envio{
    display: grid;
    grid-area: menvio;
    justify-items: center;
    width: 100%;

}


div.--envios{
    display: grid;
    grid-template-rows: 15%;
}

.-iconos_envios{
    width: 150px;
    height: 50px;
}

div.Copyright{
    display: grid;
    grid-area: copyri;
    width: 100%;
    justify-items: center;
    font-family: 'Open Sans Light', sans-serif;
}

/* ! FIN DEL FOOTER */


/* TODO --> CONTACTO */


.top_image_contacto{
    padding-top: 20px;
    width: 100%;
}

.text_contact{
    padding: 30px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 2.5rem;
}

.form_contactos{
    display: grid;
    grid-template-areas: 
    "nombre apellido"
    "email   numero "
    "mensaje mensaje"
    "enviar  enviar";
    row-gap: 5px;
    column-gap: 5px;
    width: 100%;
}

.siz{
    height: 70px;
}


.top_image_contacto{
    padding-top: 20px;
    width: 100%;
}

.text_contact{
    padding: 30px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 2.5rem;
}

.form_contactos{
    display: grid;
    grid-template-areas: 
    "nombre apellido"
    "email   numero "
    "mensaje mensaje"
    "enviar  enviar";
    row-gap: 5px;
    column-gap: 5px;
    width: 100%;
}

.siz{
    height: 70px;
}

.contac{
    border-radius: 10px;
}

    


form{
    width: 50%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nombre{
    grid-area: nombre;
}

.apellido{
    grid-area: apellido;
}

.email{
    grid-area: email;
}

.telefono{
    grid-area: numero;
}

.placeholder{
    grid-area: mensaje;
}


.enviar{
    grid-area: enviar;
}


form input{
    width: 100%;
    font-size: 25px;
    background-color: rgba(255, 192, 203, 0.329);
    border: solid rgba(0, 0, 0, 0.589);
}

form input::placeholder{
    color:  rgba(0, 0, 0, 0.589);
    font-family: 'Glacial Indifference', sans-serif;
}

form #Enviar{
    color: black;
    background-color: transparent;
    font-size: 2rem;
    border: 4px solid rgba(0, 0, 0, 0.589);
    padding: 10px;
    font-family: 'Glacial Indifference', sans-serif;
}

form textarea{
    width: 100%;
    background-color: rgba(255, 192, 203, 0.329);
    border: 4px solid rgba(0, 0, 0, 0.589);
    font-family: 'Glacial Indifference', sans-serif;
    color: black;
    font-size: 2rem;

}

form textarea ::placeholder{
    color:  rgba(0, 0, 0, 0.589);
}

/* TODO --> FIN DE CONTACTO */

/* TODO --> PRODUCTOS */

.top_image_producto{
    padding-top: 20px;
    width: 100%;
}

.card{
    width: 18rem;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

section.cartas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 200px;
}


/* TODO --> FIN DE PRODUCTOS */

/* TODO --> NOSOTROS */

.top_image_nosotros{
    width: 100%;
    padding-top: 20px;
}


.body_nos{
    display: grid;
    grid-template-areas: 
    "titulo    imagen"
    "parrafo  imagen";
    grid-template-rows: 20% 40%;
}

.h2_nos{
    grid-area: titulo;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;
}

.h5_nos{
    grid-area: parrafo;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;

}


.div_img_nos{
    width: 100%;
    grid-area: imagen;
    margin-top: 20px;
    
}

.img_nos{
    width: 100%;
}


/* TODO --> FIN DE NOSOTROS */

/* TODO --> GALERIA */

.top_image_galeria{
    width: 100%;
    padding-top: 20px;
}

.imgn-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    padding-top: 20px;
    gap: 10px;
}

.imgn__div:nth-child(1) {
    grid-row-start: span 2;

}

.imgn__div:nth-child(2) {
    grid-row-start: span 4;

}

.imgn__div:nth-child(5) {
    grid-row-start: span 2;

}

.imgn__div:nth-child(3) {
    grid-column-start: span 2;

}

.imgn__div:nth-child(6) {
    grid-row-start: span 2;

}

.imgn__div:nth-child(7) {
    grid-row-start: span 2;

}

.imgn__div:nth-child(4) {
    grid-column-start: span 2;

}

.imgn{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.gale-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    padding-top: 20px;
    gap: 10px;
}

.gale__div:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 1;

}

.gale__div:nth-child(3) {
    grid-row-start: span 3;

}

.gale__div:nth-child(7) {
    grid-column-start: span 3;

}

.gale{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/*  TODO --> FIN DE GALERIA */

/* TODO --> PRODUCTOS */

.top_image_producto{
    padding-top: 20px;
    width: 100%;
}

.card{
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: center;
}

section.cartas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 200px;
}


/* TODO --> FIN DE PRODUCTOS */

/* TODO --> NOSOTROS */

.top_image_nosotros{
    width: 100%;
    padding-top: 20px;
}


.body_nos{
    display: grid;
    grid-template-areas: 
    "titulo    imagen"
    "parrafo  imagen";
    grid-template-rows: 20% 40%;
}

.h2_nos{
    grid-area: titulo;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;
}

.h5_nos{
    grid-area: parrafo;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;

}


.div_img_nos{
    width: 100%;
    grid-area: imagen;
    margin-top: 20px;
    
}

.img_nos{
    width: 100%;
}


/* TODO --> FIN DE NOSOTROS */

/* TODO --> GALERIA */

.top_image_galeria{
    width: 100%;
    padding-top: 20px;
}

.imgn-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    padding-top: 20px;
    gap: 10px;
}

.imgn__div:nth-child(1) {
    grid-row-start: span 2;

}

.imgn__div:nth-child(2) {
    grid-row-start: span 4;

}

.imgn__div:nth-child(5) {
    grid-row-start: span 2;

}

.imgn__div:nth-child(3) {
    grid-column-start: span 2;

}

.imgn__div:nth-child(6) {
    grid-row-start: span 2;

}

.imgn__div:nth-child(7) {
    grid-row-start: span 2;

}

.imgn__div:nth-child(4) {
    grid-column-start: span 2;

}

.imgn{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.gale-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    padding-top: 20px;
    gap: 10px;
}

.gale__div:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 1;

}

.gale__div:nth-child(3) {
    grid-row-start: span 3;

}

.gale__div:nth-child(7) {
    grid-column-start: span 3;

}

.gale{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*  TODO --> FIN DE GALERIA */


/* COMIENZO MEDIAS QUERIES */

@media only screen and (max-width: 480px){

    /* * INDEX */
    body{
        overflow-x: hidden;
    }
    section.productos{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        gap: 25px;

    }
    .productos-h1{
        font-size: 6.25rem;
    }


    div.productos-imagen{
        display: flex;
        align-self: center;
    }


    .lemonpai-imagen{
        width: 300px;
        height: auto;
    }

    .productos-p{
        text-align: center;
    }

    section.nosotros{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 30px;
        padding-top: 150px;
    }

    .nosotros-h1{
        font-size: 6.25rem;
    }

    div.nosotros-imagen{
        display: flex;
        align-self: center;
        width: 100%;
    }
    .ana-imagen{
        width: 300px;
        height: auto;
    }

    .nosotros-p{
        text-align: center;
    }


    section.galeria{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0;
        column-gap: 0;
        gap: 35px;
        padding-top: 150px;
    }

    .galeria-h1{
        font-size: 6.25rem;
    }

    div.galeria--presentacion{
        display: flex;
        width: 440px;
        height: 320px;
    }


    section.contactanos{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 53px;

    }

    .contactanos-h1{
        font-size: 6.25rem;
    }

    .contactanos-p{
        text-align: center;
    }


    section.contactanos::before{
        background-image: none;
    }


    /* * FIN INDEX */


    
    main{
        margin: 0;
    }




    /* * HEADER */
    header{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo{
        margin: 0;
        padding-top: 10px;
        height: 50px;
    }

    #🧭{
        width: 100%;
        display: flex;
        margin-top: 10px;
    }

    .👻{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        margin: 0;
        padding: 0;
        
    }

    .👻 li{
        margin: 10px;
        padding: 0;
    }
/* * FIN HEADER */




/* * CONTACTO */
    
.text_contact{
    padding: 10px;
    font-size: 1.5rem;
}

.form_contactos{
    height: 700px;
}


/* * FIN CONTACTO */
 



/* * NOSOTROS */
    
.body_nos{
    display: flex;
    flex-direction: column;
}
.h2_nos{
    display: flex;
    font-size: 2rem;
    letter-spacing: normal;
    width: 100%;
    justify-content: center;
    font-family: 'Playlist', sans-serif;
}  

.div_img_nos{
    padding-left: 2%;
    padding-right: 2%;
}

.img_nos{
    border-radius: 5px;
}

.h5_nos{
    font-size: 2rem;
    padding-left: 5%;
    padding-right: 5%;
}

/* * FIN NOSOTROS */

/* * GALERIA */
.imgn-container{
    padding-left: 5px;
    padding-right: 5px;
}

.gale-container{
    padding-left: 5px;
    padding-right: 5px;
}
/* * FIN DE GALERIA */
    

/* * FOOTER */

footer{
    background-color: #FED9ED;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

section.---seguridad{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

section.---redes_sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

section.---medios_envio{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
div.--envios{
    display: flex;
    flex-direction: column;
}

div.Copyright{
    font-size: 10px;
}

/* * FIN FOOTER */

  


}