
$font-p:'Glacial Indifference', sans-serif;
$font-h1:'Playlist', sans-serif;
$font:'Open Sans Light', sans-serif;

%li_style {
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
}