
button{
    display: grid;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(0, 0, 0);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    letter-spacing: 2px;
    align-content: center;
    justify-content: center; 
}

button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

div img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5 ease;
}


// ? INDEX - PRODUCTOS

section.productos{
    display: grid;
    grid-template-areas: 
    "h1-prod foto-prod"
    "p-prod  foto-prod"
    "boton-prod foto-prod" ;
    grid-template-columns: 55% auto;
    grid-template-rows: 55% 8% 9%;
    column-gap: 10px;
    padding-top: 80px;
    width: 100%;
    height: 100%;

    .productos-h1{
        display: flex;
        grid-area: h1-prod;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
    }

    div.productos-imagen{
        display: grid;
        grid-area: foto-prod;
        width: 100%;
        height: 100%;
        justify-items: end;
        justify-content: center;

        .lemonpai-imagen{
            height: 650px;
            width: auto;
        }
    }
    
    .productos-p{
        display: flex;
        grid-area: p-prod;
        justify-content: center;
    }
    
    div.productos-boton{
        width: 100%;
        display: flex;
        justify-content: center;

        .productos-btn{
            
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
    } 

}

// ? FIN INDEX - PRODUCTOS

// ? INDEX - NOSOTROS

section.nosotros{
    display: grid;
    grid-template-areas: 
    "img-nos h1-nos"
    "img-nos p-nos"
    "img-nos btn-nos";
    grid-template-rows: 55% 13% 8%;
    padding-top: 440px;

    .nosotros-h1{
        display: grid;
        align-items: end;
        justify-items: center;
        grid-area: h1-nos;
    }
    
    div.nosotros-imagen{
        display: grid;
        justify-content: center;
        width: 88%;
        height: 100%;
        grid-area: img-nos;

        .ana-imagen{
            width: auto;
            height: 750px;
        
        }
        
    }

    .nosotros-p{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-area: p-nos;
    }

     div.nosotros-boton{
        width: 100%;
        display: grid;
        justify-items: center;
        justify-content: center;

        .nosotros-btn{

            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            grid-area: btn-nos;
        }
    } 
    
}

// ? FIN INDEX - NOSOTROS

// ? INDEX - GALERIA

section.galeria{
    display: grid;
    justify-content: space-around;
    grid-template-areas: 
    "h1-gale  img-gale"
    "btn-gale img-gale";
    grid-template-rows: 50% 11%;
    grid-template-columns: 50% 50%;
    padding-top: 440px;

    .galeria-h1{
        display: grid;
        place-items: center;
        grid-area: h1-gale;
        
    }

    div.galeria--presentacion{
        grid-area: img-gale;
        display: flex;
        width: 100%;
        height: 450px;
        filter: saturate(100%);
    }

     div.galeria-boton{
        display: grid;
        justify-items: center;
        grid-area: btn-gale;
        width: 100%;
        height: 100%;
        
        .galeria-btn{
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        
    } 
}

// ? FIN INDEX - GALERIA

// ? INDEX - CONTACTANOS

section.contactanos{
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;

    &::before{
        content: "";
        background-image: url(../medios/fotos_index/contactanos.jpg);
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 665px;
        filter: saturate(180%);
        opacity: 0.4;
    }

    .contactanos-h1{
        position: relative;
        line-height: 0.9;
    }

    .contactanos-p{
        position: relative;
    }

    div.contactanos-boton{
        width: 100%;
        height: 80px;
        padding-top: 30px;
        display: grid;
        grid-template-rows: 110%;
        justify-items: center;

        .contactanos-btn{
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            position: relative;
        }
    }
}

// ? FIN INDEX - CONTACTANOS
