
.top_image_producto{
    padding-top: 20px;
    width: 100%;
}

section.cartas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 200px;

    div.card{
        text-align: center;
        width: 20rem;
        margin-top: 30px;

        .card-img-top{
            width: 100%;
            height: 20vh;
            object-fit: cover;
        }

        .card-title{
            font-size: 3rem;
        }
        
    }

    .card-ul{
        text-align: start;
    }
    

}